// Color Scheme
// First Color Scheme
$white: #FFF;
$snow: #FAFAFA;
$quicksilver: #A0A0A0;
// Second Color Scheme
$jellybean:  #E56353;
$salmon: #E97F72;
$pastel-pink: #F0A9A1;
//Third Color Scheme
$granite: #686963;
$taupe-gray:  #91918D;
$gray: #BABAB8;
